
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
		<style>

        html, body, div, span,
        applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, font, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        dd, dl, dt, li, ol, ul,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td
        	{
        	border: 0;
        	font-family: inherit;
        	font-size: 100%;
        	font-style: inherit;
        	font-weight: inherit;
        	line-height: 1;
        	margin: 0;
        	padding: 0;
        	text-align: left;
        	vertical-align: baseline;
        	}
        a img, :link img, :visited img
        	{
        	border: 0;
        	}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #222;
	font-size: 62.5%;
}
h1,h2,h3,h4,h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 5.2em;
    color: #222;
}
h2 {
    font-size: 2.2em;
    color: #666;
}

 a {
	text-decoration: none;
    color: #BD4A39;
    -webkit-transition: color .1s ease-out;
}
a:hover {
    color: #f35f49;
}

        	#container {
        	    width: 680px;
        	    margin: auto;
        	}

		    #intro {
		        width: 240px;
		        float: left;
		        padding-top: 220px;
				margin-right: 20px;
		    }

			#intro h1 {
				text-align: right;
			}

		    #intro p {
		        margin-top: 10px;
		        font-size: 120%;
		        line-height: 1.4em;
				text-align: right;
		    }

		    #screenshot {
		        float: left;
		        display: block;
		    }

			.creator {
				position: absolute;
				top: 0px;
				right: 0px;
				display: block;
				margin: 10px;
				text-align: center;
			}

			.app-store-btn {
				width: 180px;
				height: 59px;
				display: inline-block;
				background: url(/app-store-btn.png) top left no-repeat;
				text-indent: -9999px;
				overflow: hidden;
			}

		</style>
	</head>
	<body>
	    <div id="container">
    	    <div id="intro">
        		<h1>Sievert converter</h1>
        		<p>It converts sievert (Sv) units to<br> millisievert (mSv) and to microsievert (μSv).</p>
				<p><a href="http://itunes.apple.com/us/app/sievert-converter/id427580650">iPhone version</a></p>
				<p><a href="https://market.android.com/details?id=com.phonegap.sievertandroid">Android version</a></p>
				<p><a href="/">Web version</a></p>
        	</div>
    		<img id="screenshot" src="screenshot.jpg" width="412" height="752">
			<p class="creator">Made by <a href="http://yikulju.com">Viktor Kelemen</a></p
		</div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22194822-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</body>
</html>