<!DOCTYPE html>
<html>
	<head>
    	<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    	<meta name="apple-mobile-web-app-capable" content="yes" />

        <meta charset="utf-8">
        <link rel="stylesheet" href="css/index.css" type="text/css">
		<script src="js/jquery-1.5.min.js"></script>
	</head>
	<body>
        <%- body %>
	</body>
</html>