<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	</head>
	<body>
		<h1>Sources</h1>
		<ul>
		    <li><a href="http://www.ustream.tv/channel/%E3%82%AC%E3%82%A4%E3%82%AC%E3%83%BC%E3%82%AB%E3%82%A6%E3%83%B3%E3%82%BF%E5%AE%88%E8%B0%B7%E5%B8%82">Radiation level (Moriya)</a></li>
		    <li><a href="http://www.ustream.tv/channel/%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%96%E7%94%B0%E8%B0%B7%E6%94%BE%E5%B0%84%E7%B7%9A%E3%83%AC%E3%83%99%E3%83%AB">Radiation level (Tokyo)</a></li>
		    <li><a href="http://park30.wakwak.com/~weather/geiger_index.html">Radiation level (Hino City, Tokyo)</a></li>
		    <li><a href="http://rcwww.kek.jp/norm/index-e.html">Radiation level (Tsukuba)</a></li>
		    <li><a href="http://www2.u-tokyo.ac.jp/erc/index.html">Radiation Information, University of Tokyo</a></li>
		    <li><a href="http://ustream.tv/channel/nhk-world-tv">NHK ustream</a></li>
		    <li><a href="http://www.jma.go.jp/en/quake/">JMA earthquake information</a></li>
		    <li><a href="http://twitter.com/japanstatus/reportingonjapan">Tokyo reporters</a></li>
		    <li><a href="http://roseparsley.iobb.net/hotart/radiation.html">Radiation levels in Tokyo</a></li>
		    <li><a href="http://starrwulfe.info/links-to-radiation-level-information-in-japan">more links to radiation level information</a></li>
		</ul>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22194822-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</body>
</html>